*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: steelblue;
}
.calculator
{
    position: relative;
    display: grid;
}
.calculator .value
{
    grid-column: span 4;
    height: 100px;
    border: none;
    outline: none;
    text-align: right;
    padding: 10px;
    font-size: 20px;
}
.calculator span
{
    display: grid;
    width: 50px;
    height: 50px;
    place-items: center;
}
.calculator span:active
{
    background: white;
}
.calculator span.clear
{
    grid-column: span 2;
    width: 120px;
    background-color: crimson;
}
.calculator span.plus
{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal
{
    background: greenyellow;
}